*.swp
*.swo
*.swn
.DS_Store
Thumbs.db
__pycache__
node_modules/
build/
**/build/**
dist/
.idea/
proto.txt
123.txt
cpp.txt
*.drawio

.vscode/
*.suo
*.user
*.sln
*.csproj
*.userprefs
*.yml
*.plist
*.dSYM

vendor/
*.exe
*.dll
*.so
*.dylib

*.log
*.tmp
api_gateway/cpp.txt
client/__debug_bin3503490810
unused